<!-- Header -->
<%- include("partials/header.ejs") %>

<div class="card bg-info-subtle">
    <div class="text-center mb-2">
        <img class="card-img-top profile mb-2" src="images/books.png" alt="books picture">
    </div>
    <div class="card-body">
        <p>
            This is a simple web site, to keep track of the books we read, and here we can make my notes about those books.
        </p>
        </p>
    </div>
</div>

<!-- Footer -->
<%- include("partials/footer.ejs") %>