<!-- Header -->
<%- include("partials/header.ejs") %>

<div class="card bg-info-subtle">
    <div class="text-center mb-2">
        <img class="card-img-top profile mb-2" src="images/crypto.png" alt="crypto picture">
    </div>
    <div class="card-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis ornare nulla, sit amet sagittis risus pharetra sed. 
            Proin sed magna nec dolor malesuada molestie at nec elit. Nunc iaculis sollicitudin volutpat. Vestibulum tincidunt vitae sem
            eget varius. Sed pellentesque odio dui, id suscipit magna sollicitudin nec. Aenean pharetra dui metus, ac dictum est 
            iaculis faucibus. Aliquam vestibulum id sapien vel venenatis. Etiam mollis dapibus urna eu pellentesque. Quisque nec elit 
            quis velit tristique imperdiet. Donec dignissim massa sit amet ornare gravida. Duis interdum volutpat leo congue hendrerit. 
            Morbi venenatis tempor blandit. Pellentesque malesuada varius lacus, in vehicula dui sodales eu. Sed condimentum ante sit 
            amet aliquam luctus. Mauris vehicula a neque in maximus.
        </p>
        </p>
    </div>
</div>

<!-- Footer -->
<%- include("partials/footer.ejs") %>