        </main>

        <div class="clear:both"></div>
        <footer class="smallLetters footerEndPage bg-gradient mt-auto">
            <p>Copyright © <%= new Date().getFullYear() %></p>
        </footer>
    </body>

</html>