<!-- Header -->
<%- include("partials/header.ejs") %>

<h1 class="title_h1">Support Us</h1>

<div class="card mb-5 backgroundImagePosts">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="emailAddresss" class="form-label">Email address</label>
        <input type="email" class="form-control" id="emailAddresss" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Email address</label>
        <input type="email" class="form-control" id="username" placeholder="username">
      </div>
      <div class="mb-3">
        <label for="textSupport" class="form-label">Message to Support</label>
        <textarea class="form-control" id="textSupport" rows="3"></textarea>
      </div>
      <div class="mb-5">
        <input class="btn btn-light" type="submit" value="SUBMIT" />
      </div>
    </form>
  </div>
</div>


<!-- Footer -->
<%- include("partials/footer.ejs") %>