<!-- Header -->
<%- include("partials/header.ejs") %>

<h1 class="title_h1 mb-4">A Simple Blog Website</h1>

<a class="text-decoration-none btn btn-success mb-5" href="/new_post">Create Post</a>

<%- include("partials/posts.ejs") %>

<!-- Footer -->
<%- include("partials/footer.ejs") %>